<MudDialog TitleClass="bg-warning text-white" ContentClass="py-5">
    <TitleContent>
        <h3>Editar Cliente</h3>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@form" Spacing="2" Class="d-flex flex-column">

            <div class="d-flex flex-row">
                <MudTextField Variant="Variant.Outlined" For="@(() => form.Name)" Label="Nome" @bind-Value="form.Name" Required="true" RequiredError="Nome obrigatório" />
            </div>

            <div class="d-flex flex-row gap-3">
                <MudTextField Variant="Variant.Outlined" For="@(() => form.Address)" Label="Endereço" @bind-Value="form.Address" Required="true" RequiredError="Endereço obrigatório" />
                <MudTextField Variant="Variant.Outlined" For="@(() => form.HouseNumber)" Label="N°" @bind-Value="form.HouseNumber" Required="true" RequiredError="Número da casa obrigatório" />
                <MudTextField Variant="Variant.Outlined" For="@(() => form.District)" Label="Bairro" @bind-Value="form.District" Required="true" RequiredError="Bairro obrigatório" />
            </div>

            <div class="d-flex flex-row gap-3">
                <MudTextField Variant="Variant.Outlined" For="@(() => form.City)" Label="Cidade" @bind-Value="form.City" Required="true" RequiredError="Cidade obrigatório" />
                <MudTextField Variant="Variant.Outlined" For="@(() => form.State)" Label="Estado" @bind-Value="form.State" Required="true" RequiredError="Estado obrigatório" />
                <MudTextField Variant="Variant.Outlined" For="@(() => form.CEP)" Label="CEP" @bind-Value="form.CEP" />
            </div>

            <div class="d-flex flex-row gap-3">
                <MudTextField Variant="Variant.Outlined" For="@(() => form.Contact)" Label="Contato" @bind-Value="form.Contact" Required="true" RequiredError="Marca obrigatória" />
                <MudTextField Variant="Variant.Outlined" For="@(() => form.ContactAux)" Label="Contato Auxiliar" @bind-Value="form.ContactAux" />
            </div>

        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Salvar Alterações</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public tClient form { get; set; } = new();

    private void Submit()
    {
        tClient? client = DBAutoTrackContext.tClient.Find(form.IdClient);
        if (client is null) Cancel();

        if (client!.Name != form.Name)
            client.Name = form.Name;

        if (client.Address != form.Address)
            client.Address = form.Address;

        if (client.HouseNumber != form.HouseNumber)
            client.HouseNumber = form.HouseNumber;

        if (client.District != form.District)
            client.District = form.District;

        if (client.City != form.City)
            client.City = form.City;

        if (client.State != form.State)
            client.State = form.State;

        if (client.CEP != form.CEP)
            client.CEP = form.CEP;

        if (client.Contact != form.Contact)
            client.Contact = form.Contact;

        if (client.ContactAux != form.ContactAux)
            client.ContactAux = form.ContactAux;

        DBAutoTrackContext.Entry(client).State = EntityState.Modified;
        DBAutoTrackContext.SaveChanges();

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}