<MudDialog TitleClass="bg-success text-white" ContentClass="py-5">
    <TitleContent>
        <h3>Adicionar Ordem de Serviço</h3>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@form.workOrder">
            <MudGrid Spacing="2">
                <MudItem xs="12">
                    <MudTextField For="@(() => form.workOrder.Number)"
                                  @bind-Value="form.workOrder.Number"
                                  Variant="Variant.Outlined"
                                  Label="N° de Serviço"
                                  Required="true"
                                  RequiredError="Número do serviço obrigatório" />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="int?"
                               Value="@form.idClient"
                               ValueChanged="OnClientChange"
                               Variant="Variant.Outlined"
                               Label="Cliente"
                               Required="true"
                               RequiredError="Obrigatório selecionar um cliente">
                        @foreach (tClient client in form.clients)
                        {
                            <MudSelectItem Value="@((int?)client.IdClient)">@client.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="6">
                    <MudSelect T="int?"
                               Value="@form.idBrand"
                               ValueChanged="OnBrandChange"
                               Variant="Variant.Outlined"
                               Label="Modelo"
                               Disabled="!form.clientSelect">
                        @if (form.clients.Any()) @foreach(tVehicleBrand brand in form.brands) {
                            <MudSelectItem Value="@((int?)brand.IdVehicleBrand)">@brand.Brand</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="6">
                    <MudSelect T="int?"
                               Value="@form.idVehicle"
                               ValueChanged="OnVehicleChange"
                               Variant="Variant.Outlined"
                               Label="Marca"
                               Disabled="!form.brandSelect">
                        @if (form.brands.Any()) @foreach(vwVehicle vehicle in form.vehicles) {
                            <MudSelectItem Value="@((int?)vehicle.IdVehicle)">@vehicle.Vehicle</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="4">
                    <MudTextField For="@(() => form.Plate)"
                                  @bind-Value="form.Plate"
                                  Variant="Variant.Outlined"
                                  Label="Placa"
                                  ReadOnly="true" />
                </MudItem>
                <MudItem xs="4">
                    <MudNumericField For="@(() => form.YearManufacture)"
                                     @bind-Value="form.YearManufacture"
                                     Variant="Variant.Outlined"
                                     Label="Ano de Fabricação"
                                     ReadOnly="true" />
                </MudItem>
                <MudItem xs="4">
                    <MudNumericField For="@(() => form.YearModel)"
                                     @bind-Value="form.YearModel"
                                     Variant="Variant.Outlined"
                                     Label="Ano do Modelo"
                                     ReadOnly="true" />
                </MudItem>

                <MudItem xs="6">
                    <MudSelect T="int?"
                               Value="@form.IdStatus"
                               ValueChanged="OnStatusChange"
                               Variant="Variant.Outlined"
                               Label="Status">
                        @foreach (tStatus status in form.statuses)
                        {
                            <MudSelectItem Value="@((int?)status.IdStatus)">@status.Status</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="6">
                    <MudDatePicker Label="Data Prometida"
                                   @bind-Date="form.promisedDate"
                                   Variant="Variant.Outlined"
                                   Color="Color.Dark" />
                </MudItem>

                <MudItem xs="12">
                    <MudTextField T="string"
                                  Label="Descrição"
                                  Variant="Variant.Outlined"
                                  Lines="4"
                                  @bind-value="@form.workOrder.Description" />
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancelar</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Adicionar</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private WorkForm form = new();

    protected override async Task OnInitializedAsync()
    {
        form.clients = await DBAutoTrackContext.tClient.ToListAsync();
        form.statuses = await DBAutoTrackContext.tStatus.ToListAsync();
    }

    private void OnClientChange(int? idClient)
    {
        if (idClient is null) return;

        form.clientSelect = true;

        form.idClient = idClient;

        ResetAll();

        form.vehicleClients =
            DBAutoTrackContext.vwVehicleClient.Where(x => x.IdClient == idClient).ToList();

        form.brands = form.vehicleClients
            .GroupBy(x => x.IdVehicleBrand)
            .Select(g => new tVehicleBrand
            {
                IdVehicleBrand = g.Key,
                Brand = g.First().Brand
            }).ToList();
    }

    private void OnBrandChange(int? idBrand)
    {
        if (idBrand is null) return;

        form.brandSelect = true;

        form.idBrand = idBrand;

        ResetVehicleData();

        form.vehicles = form.vehicleClients
            .Where(x => x.IdVehicleBrand == idBrand)
            .GroupBy(x => x.IdVehicle)
            .Select(g => new vwVehicle
            {
                IdVehicle = g.Key,
                Vehicle = g.First().Vehicle
            }).ToList();
    }

    private void OnVehicleChange(int? idVehicle)
    {
        if (idVehicle is null) return;
        form.idVehicle = idVehicle;

        form.vehicleItem = form.vehicleClients.FirstOrDefault(x => x.IdVehicle == idVehicle)!;

        form.Plate = form.vehicleItem.Plate;
        form.YearManufacture = form.vehicleItem.YearManufacture;
        form.YearModel = form.vehicleItem.YearModel;
    }

    private void OnStatusChange(int? idStatus)
    {
        if (idStatus is null)
            return;

        form.IdStatus = (int)idStatus!;
    }

    private void Submit()
    {
        tWorkOrder workOrder = new()
        {
            IdStatus = (int)form.IdStatus!,
            Number = form.workOrder.Number,
            Description = form.workOrder.Description,
            PromisedDate = (DateTime)form.promisedDate!,
            IdVehicleClient = form.vehicleItem.IdVehicleClient,
            CreatAt = DateTime.Now,
        };

        DBAutoTrackContext.tWorkOrder.Add(workOrder);
        DBAutoTrackContext.SaveChanges();

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();

    private void ResetAll()
    {
        ResetBrand();
        ResetVehicleData();
    }

    private void ResetBrand()
    {
        form.idBrand = null;
    }

    private void ResetVehicleData()
    {
        form.idVehicle = null;
        form.Plate = null;
        form.YearManufacture = null;
        form.YearModel = null;
    }

    private class WorkForm
    {
        public tWorkOrder workOrder = new();

        public bool clientSelect = false;
        public int? idClient = null;
        public List<tClient> clients = [];

        public bool brandSelect = false;
        public int? idBrand = null;
        public List<tVehicleBrand> brands = [];

        public int? idVehicle = null;
        public List<vwVehicle> vehicles = [];

        public vwVehicleClient vehicleItem = new();
        public List<vwVehicleClient> vehicleClients = new();

        public int? IdStatus = null;
        public List<tStatus> statuses = [];

        public DateTime? promisedDate = DateTime.Now;

        public string? Plate { get; set; }
        public int? YearManufacture { get; set; }
        public int? YearModel { get; set; }
    }
}
