@page "/Client/Home"
@rendermode InteractiveServer

<section class="d-flex flex-column gap-3">

    <h3>Lista de Clientes</h3>

    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Add">Adicionar Cliente</MudButton>
    </div>

    <div>
        <MudTable Items="@_clients" Hover="true" Breakpoint="Breakpoint.Sm">
            <ColGroup>
                <col />
                <col />
                <col />
                <col style="width: 20%;" />
            </ColGroup>
            <HeaderContent>
                <MudTh>Nome</MudTh>
                <MudTh>Contato</MudTh>
                <MudTh>Contato Auxiliar</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.Contact</MudTd>
                <MudTd>@context.ContactAux</MudTd>
                <MudTd>
                    <MudButton Href="@($"VehicleClient/Home/{context.IdClient}")" Variant="Variant.Outlined" Color="Color.Info">Veículos</MudButton>
                    <MudButton OnClick="@(() => Edit(context))" Variant="Variant.Outlined" Color="Color.Warning">Editar</MudButton>
                    <MudButton OnClick="@(() => Delete(context))" Variant="Variant.Outlined" Color="Color.Error">Deletar</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>

</section>



@code {

    private List<tClient> _clients = new List<tClient>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _clients = await DBAutoTrackContext.tClient.ToListAsync();
    }

    private async Task Add()
    {
        var dialog = await Dialog.ShowAsync<AddClient>("AddClient");
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await UpdateData();
            Snack.SuccessAdd();
        }
    }

    private async Task Edit(tClient client)
    {
        var parameters = new DialogParameters<EditClient>
        {
            { x => x.form, client }
        };

        var dialog = await Dialog.ShowAsync<EditClient>("EditClient", parameters);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await UpdateData();
            Snack.SuccessEdit();
        }
    }

    private async Task Delete(tClient client)
    {
        var parameters = new DialogParameters<DeleteClient>
        {
            { x => x.form, client }
        };

        var dialog = await Dialog.ShowAsync<DeleteClient>("DeleteClient", parameters);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await UpdateData();
            Snack.SuccessDelete();
        }
    }

}
