@page "/Vehicle/Home"
@rendermode InteractiveServer

<section class="d-flex flex-column gap-3">

    <h3>Lista de Veículos</h3>

    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Add">Adicionar Veículo</MudButton>
    </div>

    <div>
        <MudTable FixedHeader="true"
                  FixedFooter="true"
                  Class="p-2"
                  Items="@mudtable.Data"
                  Filter="@mudtable.Function"
                  Height="@mudtable.Height"
                  RowsPerPage="@mudtable.RowsPerPage" @bind-SelectedItem="mudtable.SelectedItem">
            <ColGroup>
                <col />
                <col />
                <col style="width: 20%;" />
            </ColGroup>
            <ToolBarContent>
                <MudText Typo="Typo.h6">Veículos Cadastrados</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="mudtable.SearchString"
                              Placeholder="@mudtable.Placeholder"
                              Adornment="Adornment.Start"
                              Variant="Variant.Outlined"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium">
                </MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Marcas</MudTh>
                <MudTh>Veículos</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Brand</MudTd>
                <MudTd>@context.Vehicle</MudTd>
                <MudTd>
                    <MudButton OnClick="@(() => Edit(context))" Variant="Variant.Outlined" Color="Color.Warning">Editar</MudButton>
                    <MudButton OnClick="@(() => Delete(context))" Variant="Variant.Outlined" Color="Color.Error">Deletar</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>

</section>



@code {

    private MudtableFunction<vwVehicle> mudtable = new();

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        try
        {
            mudtable.Data = await DBAutoTrackContext.vwVehicle.ToListAsync();
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Add()
    {
        try
        {
            var dialog = await Dialog.ShowAsync<VehicleAdd>("AddVehicle");
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessAdd();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Edit(vwVehicle vehicle)
    {
        try
        {
            var parameters = new DialogParameters<VehicleEdit>
            {
                { x => x.form, vehicle }
            };

            var dialog = await Dialog.ShowAsync<VehicleEdit>("EditVehicle", parameters);
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessEdit();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Delete(vwVehicle vehicle)
    {
        try
        {
            var parameters = new DialogParameters<VehicleDelete>
            {
                { x => x.form, vehicle }
            };

            var dialog = await Dialog.ShowAsync<VehicleDelete>("DeleteVehicle", parameters);
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessDelete();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

}
