@page "/Vehicle/Home"
@rendermode InteractiveServer

<section class="d-flex flex-column gap-3">

    <h3>Lista de Veículos</h3>

    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Add">Adicionar Veículo</MudButton>
    </div>

    <div>
        <MudTable Items="@_vehicles" Hover="true" Breakpoint="Breakpoint.Sm">
            <ColGroup>
                <col />
                <col />
                <col style="width: 20%;" />
            </ColGroup>
            <HeaderContent>
                <MudTh>Marca</MudTh>
                <MudTh>Veículo</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Brand</MudTd>
                <MudTd>@context.Vehicle</MudTd>
                <MudTd>
                    <MudButton OnClick="@(() => Edit(context))" Variant="Variant.Outlined" Color="Color.Warning">Editar</MudButton>
                    <MudButton OnClick="@(() => Delete(context))" Variant="Variant.Outlined" Color="Color.Error">Deletar</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>

</section>



@code {

    private List<vwVehicle> _vehicles = new List<vwVehicle>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        try
        {
            _vehicles = await DBAutoTrackContext.vwVehicle.ToListAsync();
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Add()
    {
        try
        {
            var dialog = await Dialog.ShowAsync<AddVehicle>("AddVehicle");
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessAdd();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Edit(vwVehicle vehicle)
    {
        try
        {
            var parameters = new DialogParameters<EditVehicle>
            {
                { x => x.form, vehicle }
            };

            var dialog = await Dialog.ShowAsync<EditVehicle>("EditVehicle", parameters);
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessEdit();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

    private async Task Delete(vwVehicle vehicle)
    {
        try
        {
            var parameters = new DialogParameters<DeleteVehicle>
            {
                { x => x.form, vehicle }
            };

            var dialog = await Dialog.ShowAsync<DeleteVehicle>("DeleteVehicle", parameters);
            var result = await dialog.Result;

            if (!result!.Canceled)
            {
                await UpdateData();
                Snack.SuccessDelete();
            }
        }
        catch (Exception ex)
        {
            Redirect.Error(ex);
        }
    }

}
